name: Release

permissions:
  id-token: write
  contents: write

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
      - uses: oven-sh/setup-bun@v2.0.2
        with:
          bun-version: latest
          registry-url: https://registry.npmjs.org/
      - run: bunx changelogithub
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - run: bun install --frozen-lockfile
      - run: bunx npm@latest publish --access public
